[workspace]
authors = ["Carl Caulkett <carl.caulkett@gmail.com>"]
channels = ["https://conda.modular.com/max-nightly", "conda-forge"]
name = "ca_web_server"
platforms = ["osx-arm64"]
version = "0.1.0"

[tasks]
t1 = { cmd = "mojo ca_web_server.mojo", env = { MODULAR_CRASH_REPORTING = "0" } }
serve = "python3 server.py"
clean = "rm -rf .pixi/envs/default/share/max/crashdb 2>/dev/null; rm -f static/index.html static/style.css"
generate = "pixi run clean && pixi run --environment default mojo client.mojo"
fluent = "pixi run clean && pixi run --environment default mojo fluent.mojo"

tests = "pixi run t1"
default = "pixi run serve"

[dependencies]
max = "*"
modular = ">=25.6.1.0,<27"
mojo = ">=0.25.7.0.dev2025110705,<0.26"
