[workspace]
authors = ["Carl Caulkett <carl.caulkett@gmail.com>"]
# channels = ["https://conda.modular.com/max-nightly", "conda-forge"]
channels = ["conda-forge", "https://conda.modular.com/max"]
name = "ca_web_server"
platforms = ["osx-arm64"]
version = "0.1.0"

[tasks]
serve = "python3 server.py"
clean = "rm -rf .pixi/envs/default/share/max/crashdb 2>/dev/null; rm -f static/index.html static/style.css"
generate = "pixi run clean && pixi run mojo fluent.mojo"
fluent = "pixi run clean && pixi run mojo fluent.mojo"

[dependencies]
mojo = "==0.25.6"
