.round_image {
   width: 150px;
   height: 150px;
   border: 20px solid darkblue;
   border-radius: 75px;
}
.fancy_input {
   padding: 10px;
   margin: 5px;
   border: 2px dotted blue;
   border-radius: 5px;
}
p {
   font-family: arial;
   color: blueviolet;
   background-color: yellow;
}
h1 {
   font-size: 64.0px;
   font-family: Audiowide;
   color: red;
   background-color: lightblue;
}
h2 {
   font-size: 48.0px;
   font-family: Sofia;
   color: goldenrod;
   background-color: lightgreen;
}
h3 {
   font-size: 41.6px;
   font-family: Trirong;
   color: green;
   background-color: lightcoral;
}
h4 {
   font-size: 32.0px;
   font-family: Aclonica;
   color: blueviolet;
   background-color: lightblue;
}
h5 {
   font-size: 25.6px;
   font-family: Bilbo;
   color: crimson;
   background-color: lightgreen;
}
h6 {
   font-size: 22.4px;
   font-family: Salsa;
   color: black;
   background-color: lightcoral;
}
body {
   color: darkblue;
   background-color: azure;
   font-size: 16.0px;
   font-family: Arial, sans-serif;
}
#lorem {
   font-family: 'Times New Roman', serif;
   font-size: 110.0%;
   color: chartreuse;
   background-color: darkblue;
   margin-top: 0.0px;
   margin-bottom: 0.0px;
   padding-top: 10.0px;
   padding-bottom: 2.0px;
   padding-left: 10.0px;
   padding-right: 10.0px;
}
#post_modern {
   font-family: Futura, sans-serif;
   color: gainsboro;
   background-color: darkblue;
   margin: 0px;
   padding-top: 2.0px;
   padding-bottom: 10.0px;
   padding-left: 10.0px;
   padding-right: 10.0px;
}
#datetime {
   color: darkblue;
   background-color: lightblue;
   margin: 0px;
   padding: 0px;
   font-size: 20.0px;
   }
